* {
	margin: 0;
	padding: 0;
	border: 0;
}


article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

*:focus {
	outline: 0;
}

#container {
	margin: auto;
}

/*////////////STICKY FOOTER STYLES///////////////////*/
.site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.site-content{
	flex: 1;
}
/*////////////STICKY FOOTER STYLES///////////////////*/

/*////////////h1, h2,h3, h4, p, a TAGS///////////////////*/
h1 {
	font-family: "orpheuspro", "sans-serif", "montserrat";
	font-weight: 500;
  line-height: 1.2;
	color: black;
	font-size: 1.7em;
	color: #383838;
}

h2 {
	font-family: "orpheuspro", "sans-serif", "montserrat";
	font-weight: 500;
	font-style: normal;
	color: #383838;
}

h3 {
	font-family: "orpheuspro", "p22-cezanne-pro", "sans-serif", "montserrat";
	color: #383838;
	font-weight: 600;
}

h4 {
	font-family: "orpheuspro", "sans-serif", "montserrat";
	color: #383838;
	font-weight: 500;
	font-style: italic;
	font-size: 1em;
}
p {
	font-family: "omnes-pro", "sans-serif", "montserrat";
	color: #383838;
	font-size: 1em;
 	font-weight: 400;
  font-style: normal;
}

a {
	font-family: "omnes-pro", "sans-serif", "montserrat";
	color: #383838;
	font-size: 1em;
 	font-weight: 400;
  font-style: normal;

}
/*////////////h1, h2,h3, h4, p, a TAGS///////////////////*/


/*////////////FOOTER///////////////////*/

.footer{
  line-height: 1.5em;
	flex-wrap: wrap;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 10%;
	flex-direction: column;
}

.footer ul {
	list-style-type: none !important;
}

.bottomnav li a{
	padding: 5px;
	font-size: 1.2rem;
}

.bottomnav {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
  margin: 5%;
}

.bottomnav ul{
	display: flex;
}


.social {
	display: flex;
	flex-direction: row;
}

/*////////////FOOTER///////////////////*/

/*////////////MENU///////////////////*/

.main-menu {
	display: none;
}

nav {
	display: flex;
	justify-content: flex-end;
}

nav ul {
  list-style-type: none;
}

nav ul:hover li:not(:hover) a {
  opacity: 0.2;
}

nav ul li {
  padding: 25px 20px 25px 20px;
  cursor: pointer;
}

nav ul li a {
  color: black;
  text-decoration: none;
	font-weight: 700;
	font-size: 1.3em;
	letter-spacing: .3em;
	font-weight: 500;
	font-style: normal;
  background:#ffffff;
	padding: .2em;
	}


.menuline {
	display: flex;
	flex-wrap: nowrap;
	padding: 3% 0 0 3%;
	justify-content: space-between;
}
.hamburger{
	display: flex;
	flex-wrap: nowrap;
  background:none;
	top:0;
  right:0;
  line-height: 40px;
  padding: 0 15px 0 15px;
  color: #e59c7a;
  font-size: 1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top: 2%;
  left: 90%;
  color: #e59c7a;
  border:0;
  font-size: 3em;
  line-height: 65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

/*////////////MENU///////////////////*/

/*///////////////////////////////////////////MAIN////////////////////////////////////////////*/

/*////////////header///////////////////*/

.header  {
	background-image: url("images/pinktenniscourt.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 200px;
}

.header h1 {
	display: flex;
  align-items: center;
  justify-content: center;
	padding-top: 160px;
	font-weight: bold;
	padding-top: 28%;
 }
/*////////////header///////////////////*/

/*////////////testimonial///////////////////*/
.testimonial {
	height: 332px;
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f9f9f9;
	flex-wrap: wrap;
	}

.testimonial p {
	width: 290px;
	line-height: 1.3em;
	text-align: center;
}

.testimonial h4 {
	padding-top: 2%;
}
/*////////////testimonial///////////////////*/

/*////////////listitems///////////////////*/
.listitems ul{
	display: none;
}

.list ul{
	list-style-type: none;
	padding: 5%;
}
/*////////////listitems///////////////////*/

/*////////////content///////////////////*/

.allcontent {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 0 3% 3% 3%;
}

.allcontent h3 {
	padding-top: 5%;
  font-family: "sheila", "Mina", sans-serif;
	font-size: 1.5em;
}

.allcontent p {
	padding-bottom: 3%;
}

.allcontent img{
	padding-bottom: 3%;
}

.secondcontent {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	flex-direction: row;
  text-align: center;
	padding: 10% 6% 5% 6%;
}

.thirdcontent {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	flex-direction: row;
  text-align: center;
	padding: 2% 6% 5% 6%;
}

.thirdcontent img{
	padding-left: 3%;
}
.pl {
	padding-top: 7%;
}

.clinics {
	padding-top: 7%;
}

.plclcontact{
	padding-top: 5%;
	display: flex;
	justify-content: center;
}

.plclcontact a{
	color: #cea384;
}
/*////////////content///////////////////*/

/*////////////FAQ///////////////////*/
.faq {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 7% 0 7% 0;
}

.faq h2 {
	padding-bottom: 5%;
}
/*////////////FAQ///////////////////*/

/*////////////COLLAPSIBLE CONTENT///////////////////*/

.expand-collapse {
  max-width: 300px;
	min-width: 300px;
}
.expand-collapse p {
  background-color: white;
  padding: 20px;
}
.expand-collapse div {
  padding: 0;
  margin-top: -2px;
}
.expand-collapse h3 {
  background-color: #F2D4AE;
  cursor:  pointer;
  padding: 15px;
  margin-bottom: 2px;
}

/*////////////COLLAPSIBLE CONTENT///////////////////*/

/*////////////CONTACT PAGE//////////////////////////////////////////////////*/

/*////////////(min-width: 375px)///////////////////*/
@media (min-width: 375px) {

.header {
	height: 200px;
}

h1 {
	font-size: 1.7em;
	padding: 4%;
}

.testimonial p{
	line-height: 1.3em;
}

.expand-collapse {
  max-width: 345px;
	min-width: 345px;
}

.allcontent a {
	font-size: 1.1em;
}

.social img{
	width: 30px;
	height: 30px;
}
.bottomnav li a{
	padding: 8px;
}
}

/*////////////(min-width: 375px)///////////////////*/

/*////////////(min-width: 418px)///////////////////*/


@media (min-width:418px) {

h1 {
	font-size: 2em;
}

.hamburger {
	font-size: 1.8em;
}

.cross {
	font-size: 5em;
}

.testimonial p{
		width: 350px;
}
.testimonial h2 {
	padding-top: 3%;
	padding-bottom: 2%;
}
.testimonial h4 {
	padding-top: 3%;
}

.header {
	height: 200px;
}

.header h1 {
	padding-top: 20%;
}

.expand-collapse {
  max-width: 390px;
	min-width: 390px;
}

.allcontent a {
	font-size: 1.2em;
}

.bottomnav li a{
	padding: 10px;
	font-size: 1.3rem;
}
.social img{
	width: 35px;
	height: 35px;
}
}

/*////////////(min-width: 418px)///////////////////*/

/*////////////(min-width: 712px)///////////////////*/

@media (min-width:712px) {

nav ul li a {
		font-size: 1.7em;
}

.homecontent {
	flex-direction: row-reverse;
	text-align: left;
}

.smitchgirls {
	padding-left: 2%;
}

.serve {
  width: 350px;
	height: 400px;
}

.secondcontent {
	text-align: left;
	flex-wrap: nowrap;
}

.thirdcontent {
	text-align: left;
	flex-wrap: nowrap;
	flex-direction: row-reverse;
}
.plclcontact {
	justify-content: flex-start;
}

.clinics {
	padding-top: 7%;
}

.plcl {
 padding-left: 3%;
}

.expand-collapse {
  max-width: 690px;
	min-width: 690px;
}

.allcontent {
	flex-direction: row;
	text-align: left;
}

.allcontent h3 {
		font-size: 1.7em;
}
.content {
	padding-left: 3%;
}
.allcontent a {
	font-size: 1.2em;
}

.clara {
	width: 300px;
	height: 440px;
}

.listitems ul{
	display: flex;
	flex-direction: column;
	padding-left: 5%
}

.list ul{
	list-style-type: circle;
	display: flex;
	flex-direction: column;
}

.social img{
	width: 40px;
	height: 40px;
}
}
/*////////////(min-width: 712px)///////////////////*/


/*////////////(min-width: 768px)///////////////////*/

@media (min-width:768px) {

h1 {
	font-size: 2.5em;
  padding: 0;

}
h2 {
	font-size: 1.8em;
}

.logo {
	width: 190px;
	height: 200px;
}

.hamburger {
	font-size: 2.4em;
}

.cross {
	font-size: 5em;
}

.footer {
	flex-direction: column;
}

.footerimage {
	width: 600px;
	height: 600px;
}

.header {
	height: 300px;
}

.header h1 {
	padding-top: 18%;
}

.roland {
	width: 320px;
	height: 400px;
}

.testimonial {
	height: 300px;
}
.testimonial p{
	width: 400px;
	line-height: 1.3em;
}

.footerimageabout {
	width: 600px;
  height: 600px;
}

.expand-collapse {
  max-width: 740px;
	min-width: 740px;
}

.gumballs {
	width: 345px;
	height: 395px;
}

.social img{
	width: 45px;
	height: 45px;
}

.bottomnav li a{
	padding: 15px;
	font-size: 1.4rem;
}

.clara {
	width: 330px;
	height: 470px;
}
}


/*////////////(min-width: 768px)///////////////////*/

/*////////////(min-width: 900px)///////////////////*/


@media (min-width: 900px) {

h1 {
  font-size: 3em;
}

h2 {
	font-size: 2em;
}

p {
	font-size: 1em;
}
.logo {
	width: 220px;
	height: 230px;
}

.hamburger {
	font-size: 3em;
}

.cross {
	font-size: 6em;
}

nav ul li a {
		font-size: 2.2em;
}

.clara {
	width: 390px;
	height: 550px;
}

.homeabout {
	padding-left: 10%;
	height: 500px;
	min-width: 398px;
}

.homeabout p{
	min-width: 370px;
}

.smitchgirls {
	width: 400px;
	height: 490px;
}

.explore {
	flex-wrap: wrap;
	flex-direction: row;
}
.tennisball {
	position: absolute;
}
.explore h2 {
	font-size: 3.5em;
	min-width: 3000px;
}

.explore .join {
		padding: 2%;
}

.explore .about {
		padding: 2%;
}

.explore .contact {
		padding: 2%;
}

.tennisball {
	right: 81%;
	width: 400px;
	height: 400px;;
}

.header {
	height: 400px;
}

.header h1 {
	padding-top: 17%;
}


.allcontent h3 {
	font-size: 2.2em;
}


.serve {
	width: 400px;
	height: 450px;
}


.roland {
	width: 400px;
	height: 480px;
}

.testimonial h2{
	font-size: 2em;
}

.testimonial p{
  width: 500px;
	font-size: 1.2em;
}


.tennisislife {
	width: 400px;
	height: 550px;

}

.plclcontact {
	font-size: 1.2em;
}
.expand-collapse {
  max-width: 900px;
	min-width: 900px;
}

.gumballs {
	width: 430px;
	height: 480px;
	padding-left: 4%;
}

.content {
	padding-right: 4%;
}

.allcontent a {
	font-size: 1.3em;
}

.bottomnav li a{
	padding: 20px;
	font-size: 1.5rem;
}

.social img{
	width: 50px;
	height: 50px;
}

}

/*////////////(min-width: 900px)///////////////////*/

/*////////////(min-width: 1340px)///////////////////*/

@media (min-width: 1340px) {

h1 {
	font-size: 4.2em;
}

h2{
	font-size: 2.8em;
}

h3 {
	font-size: 1.6em;
}

P {
	font-size: 1.4em;
}

nav ul li a {
		font-size: 2.6em;
}

.clara {
	width: 450px;
	height: 610px;
	padding-left: 7%;
}

.homeabout {
	padding-left: 10%;
	height: 550px;
	min-width: 398px;
}

.homeabout p{
 	min-width: 593px;
}

.smitchgirls {
	width: 500px;
	height: 610px;
}

.header {
	height: 500px;
}

.header h1 {
	padding-top: 7%;
}

.roland {
	width: 600px;
	height: 650px;
}

.testimonial {
		height: 100vh;
}

.testimonial h2 {
		 font-size: 4em;

	}

.testimonial p {
		width: 670px;
		font-size: 2.4em;
	}

.testimonial h4{
		font-size: 2em;
	}

.tennisislife {
	width: 450px;
	height: 600px;
}

.allcontent h3 {
	font-size: 2.5em;
}

.serve {
	width: 500px;
	height: 550px;
}

.plclcontact {
	font-size: 1.5em;
}

.expand-collapse {
  max-width: 1290px;
	min-width: 1290px;
}

.gumballs {
	width: 470px;
	height: 540px;
}

.gumballs {
	width: 550px;
	height: 600px;
}

.bottomnav li a{
	padding: 23px;
	font-size: 1.7rem;
}

.social img{
	width: 55px;
	height: 55px;
}
}
/*////////////(min-width: 1340px)///////////////////*/


/*////////////(min-width: 1800px)///////////////////*/

@media (min-width: 1800px) {

h1 {
	font-size: 6em;
}

h3 {
		font-size: 2.3em;
	}

p {
	font-size: 2em;
}

.logo {
	width: 246px;
  height: 258px;
}

nav ul li a {
		font-size: 3.2em;
}

.clara {
	width: 580px;
	height: 740px;
	padding-left: 10%;
}


.allcontent h3 {
	font-size: 2.9em;
}

.serve {
	width: 650px;
	height: 700px;
}

.testimonial p {
		width: 800px;
		font-size: 2.4em;
	}

.testimonial h4 {
	font-size: 2.5em;
}

.tennisislife {
	width: 700px;
	height: 850px;

}

.plclcontact {
	font-size: 2em;
}

.gumballs {
	width: 700px;
	height: 750px;
}

.buttons a{
	font-size: 1.8em;
}

.bottomnav li a{
	padding: 22px;
	font-size: 2rem;
}

.social img{
	width: 65px;
	height: 65px;
}
}
/*////////////(min-width: 1800px)///////////////////*/

/*////////////(min-width: 2360px)///////////////////*/

@media (min-width: 2360px) {

h1 {
	font-size: 8em;
}
h2 {
	font-size: 3.8em;
}


h3 {
	font-size: 2.7em;
}

p {
	font-size: 3em;
}

nav ul li a {
		font-size: 3.5em;
}

.clara {
	width: 750px;
	height: 1010px;
}

.testimonial p {
	font-size: 3em;
}

.header {
	height: 641px;
}

.header h1 {
  padding-top: 12%;
}

.smitchgirls {
	width: 900px;
	height:1010px;
}

.testimonial h2 {
	font-size: 5em;
}

.testimonial p {
		width: 1100px;
		font-size: 3.4em;
	}

.testimonial h4 {
	font-size: 3em;
}

.serve {
	width: 900px;
	height: 950px;
}

.expand-collapse {
  max-width: 2000px;
	min-width: 2000px;
}

.allcontent h3 {
	font-size: 3.8em;
}

.allcontent a {
	font-size: 2.2em;
}

.tennisislife {
	width: 900px;
	height: 1050px;

}

.plclcontact {
	font-size: 3em;
}

.gumballs {
	width: 900px;
	height: 950px;
}

.buttons a{
	font-size: 3em;
}

.bottomnav li a{
	padding: 30px;
	font-size: 2.5rem;
}

.social img{
	width: 85px;
	height: 85px;
}
}

/*////////////(min-width: 2360px)///////////////////*/
